<div>
  <h2>Editor di Articoli</h2>
  <!--dirgli di mostrare questohtml-->
  <div *ngIf="articleForm.get('articleTitle')!.value">
    <h3>Anteprima Articolo:</h3>
    <app-article-preview
      [articleTitle]="articleForm.get('articleTitle')!.value"
      [publishDate]="articleForm.get('publishDate')!.value"
      [author]="articleForm.get('author')!.value"
      [genre]="articleForm.get('genre')!.value"
      [articleContent]="articleForm.get('articleContent')!.value"
    ></app-article-preview>
    <hr />
  </div>

  <form [formGroup]="articleForm" (ngSubmit)="saveArticle()">
    <div class="form-group d-flex">
      <div class="flex-fill">
        <label for="articleTitle">Titolo Articolo:</label>
        <input
          type="text"
          id="articleTitle"
          class="form-control text-dark"
          formControlName="articleTitle"
        />
        <div
          *ngIf="
            articleForm.get('articleTitle')!.hasError('required') &&
            articleForm.get('articleTitle')!.touched
          "
          class="text-danger"
        >
          Il titolo è obbligatorio.
        </div>
      </div>
      <div class="flex-fill ms-2">
        <label for="publishDate">Data di Pubblicazione:</label>
        <input
          type="date"
          id="publishDate"
          class="form-control text-dark"
          formControlName="publishDate"
        />
        <div
          *ngIf="
            articleForm.get('publishDate')!.hasError('required') &&
            articleForm.get('publishDate')!.touched
          "
          class="text-danger"
        >
          La data di pubblicazione è obbligatoria.
        </div>
      </div>
    </div>

    <div class="form-group d-flex mb-1">
      <div class="flex-fill">
        <label for="author">Autore:</label>
        <input
          type="text"
          id="author"
          class="form-control text-dark"
          formControlName="author"
        />
        <div
          *ngIf="
            articleForm.get('author')!.hasError('required') &&
            articleForm.get('author')!.touched
          "
          class="text-danger"
        >
          L'autore è obbligatorio.
        </div>
      </div>

      <div class="flex-fill ms-2">
        <label for="genre">Genere:</label>
        <input
          type="text"
          id="genre"
          class="form-control text-dark"
          formControlName="genre"
        />
        <div
          *ngIf="
            articleForm.get('genre')!.hasError('required') &&
            articleForm.get('genre')!.touched
          "
          class="text-danger"
        >
          Il genere è obbligatorio.
        </div>
      </div>
    </div>

    <div class="h-100">
      <quill-editor formControlName="articleContent"></quill-editor>
      <div
        *ngIf="
          articleForm.get('articleContent')!.hasError('required') &&
          articleForm.get('articleContent')!.touched
        "
        class="text-danger"
      >
        Il contenuto dell'articolo è obbligatorio.
      </div>
    </div>

    <div class="d-flex justify-content-between align-items-center mt-2 mx-1">
      <button class="btn btn-primary" type="button" (click)="resetArticle()">
        Reset Articolo
      </button>
      <div>
        <button
          class="btn btn-primary me-1"
          (click)="previewArticle()"
          [disabled]="articleForm.invalid"
        >
          Anteprima
        </button>
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="articleForm.invalid"
        >
          Salva Articolo
        </button>
      </div>
    </div>
  </form>
</div>
