*{
    font-family: 'Montserrat', sans-serif;
}

.btn-primary {
    --bs-btn-bg: #0CB3C9;
    --bs-btn-border-color: #0CB3C9;
    font-family: 'Orbitron', sans-serif !important;
}

.d-flex.justify-content-between.align-items-center {
    margin-top: 20px;
    text-align: center;
  }
  
  