.led-digital {
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
  text-align: center;
  color: #f5f5f5 !important;
  border-radius: 5px;
}

.link-provvisorio {
  font-family: 'Orbitron', sans-serif;
  color: #0CB3C9 !important;
  font-size: 2.125rem !important;
  // color: #f5f5f5 !important;
  cursor: pointer;
}

.link-provvisorio:hover {
  color: #143E7B !important;
}
