<div class="countdown-timer">
  <div
    *ngIf="!showComingSoonMessage"
    class="d-flex justify-content-center align-items-center vw-100 flex-column"
  >
    <div class="end-coming-soon">Lavori in corso, termineranno fra:</div>
    <div class="led-digital">{{ countdownTime }}</div>
  </div>
  <div
    class="end-coming-soon d-flex justify-content-center align-items-center flex-column"
    *ngIf="showComingSoonMessage"
  >
    <div class="link-provvisorio">
      <a href="https://projectyggdrasill.wordpress.com"
        >Project Yggdrasill (test)</a
      >
    </div>
  </div>
</div>
