//16x16 px
.tiktok16 {
    width: 1rem;
    height: 1rem;
    background-size: cover;
    background-image: url('../../../assets/images/tiktok-logo-azzurro.svg');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.instagram16 {
    width: 1rem;
    height: 1rem;
    background-size: cover;
    background-image: url('../../../assets/images/instagram-logo-azzurro.svg');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}


.linkedin16 {
    width: 1rem;
    height: 1rem;
    background-size: cover;
    background-image: url('../../../assets/images/linkedin-logo-azzurro.svg');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.youtube16 {
    width: 1rem;
    height: 1rem;
    background-size: cover;
    background-image: url('../../../assets/images/youtube-logo-azzurro.svg');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}
//50x50 px
.tiktok50 {
    width: 3.125rem;
    height: 3.125rem;
    background-size: cover;
    background-image: url('../../../assets/images/tiktok-logo-azzurro.svg');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.instagram50 {
    width: 3.125rem;
    height: 3.125rem;
    background-size: cover;
    background-image: url('../../../assets/images/instagram-logo-azzurro.svg');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}


.linkedin50 {
    width: 3.125rem;
    height: 3.125rem;
    background-size: cover;
    background-image: url('../../../assets/images/linkedin-logo-azzurro.svg');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.youtube50 {
    width: 3.125rem;
    height: 3.125rem;
    background-size: cover;
    background-image: url('../../../assets/images/youtube-logo-azzurro.svg');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}