<nav class="navbar navbar-expand-lg navbar-light bg-light yggdrasil-bg-color-1">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="d-flex justify-content-between w-100">
    <ul class="navbar-nav">
      <li class="nav-item">
        <button
          class="nav-link"
          mat-menu-item
          routerLink="/dashboard"
          routerLinkActive="active text-white"
        >
          Home
        </button>
      </li>
      <li class="nav-item">
        <button
          class="nav-link"
          mat-menu-item
          routerLink="/dashboard"
          routerLinkActive="active text-white"
        >
          Blog
        </button>
      </li>
      <li class="nav-item">
        <button
          class="nav-link"
          mat-menu-item
          routerLink="/dashboard"
          routerLinkActive="active text-white"
        >
          Podcast
        </button>
      </li>
      <li class="nav-item">
        <button
          class="nav-link"
          mat-menu-item
          routerLink="/dashboard"
          routerLinkActive="active text-white"
        >
          Chi siamo
        </button>
      </li>
    </ul>

    <button
      class="nav-link nav-font-logo"
      mat-menu-item
      routerLink=""
      routerLinkActive="active text-white"
    >
      Yggdrasill
    </button>

    <div class="d-flex align-items-center gap-2 custom-margin-social">
      <!-- 1.625rem = 26px -->
      <app-instagram-link [size]="1.625"></app-instagram-link>
      <app-linkedin-link [size]="1.625"></app-linkedin-link>
      <app-tiktok-link [size]="1.625"></app-tiktok-link>
    </div>
  </div>
</nav>
