nav {
    background-color: #ffffff;
    color: #000000;
    font-family: sans-serif;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .navbar-brand {
    font-size: 24px;
    margin-left: 20px;
  }
  
  .navbar-nav li a {
    text-decoration: none;
    color: #000000;
  }
  
  .navbar-nav li a.active {
    color: #0000ff;
  }

  .custom-margin-social {
    margin-left: 9.875rem;
  }