.white-logo {
    width: 12.5rem;
    height: 12.5rem;
    background-size: cover;
    background-image: url('../../../../assets/images/yggdrasil-logo-bianco.png');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }