<div class="container" #container>
  <div class="form-container sign-up">
    <form>
      <h1>Crea Account</h1>
      <span>usa la tua mail per registrarti</span>
      <input type="text" placeholder="Nome" />
      <input type="email" placeholder="Email" />
      <input type="password" placeholder="Password" />
      <button (click)="register()">Registrati</button>
    </form>
  </div>

  <div *ngIf="!(isUserLoggedIn() | async)" class="form-container sign-in">
    <form [formGroup]="loginForm" *ngIf="!isRecoveringPassword">
      <h1>Accedi</h1>
      <span>usa il tuo account</span>
      <input type="email" placeholder="Email" formControlName="email" />
      <input
        type="password"
        placeholder="Password"
        formControlName="password"
      />
      <a href="javascript:void(0);" (click)="changeLoginForgot()"
        >Hai dimenticato la password?</a
      >
      <button (click)="login()">Accedi</button>
    </form>

    <form [formGroup]="resetPasswordForm" *ngIf="isRecoveringPassword">
      <h1>Reimposta Password</h1>
      <span>Inserisci la tua email</span>
      <input type="email" placeholder="Email" formControlName="email" />
      <a href="javascript:void(0);" (click)="changeLoginForgot()"
        >Torna al login</a
      >
      <button (click)="forgotPassword()">Reimposta</button>
    </form>
  </div>
  <!-- TODO WIP -->
  <div *ngIf="(isUserLoggedIn() | async)" class="form-container sign-in">
    <form [formGroup]="loginForm">
      <!-- Aggiungi questo pulsante ovunque tu desideri nel tuo template -->
      <h1>Sei già autenticato</h1>
      <span>Vuoi uscire?</span>
      <button (click)="logout()">Logout</button>
    </form>
  </div>

  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-left">
        <h1>Bentornato!</h1>
        <p>Per rimanere collegato con noi, per favore usa le tue credenziali</p>
        <button #signIn>Accedi</button>
      </div>

      <div class="overlay-panel overlay-right">
        <h1>Sei nuovo?</h1>
        <p>Registrati e scopri il nostro mondo!</p>
        <button #signUp>Registrati</button>
      </div>
    </div>
  </div>
</div>
