<div class="privacy-policy">
  <h2>Politica sulla Privacy di Yggdrasill Project:</h2>
  <p>Ultimo aggiornamento: 06/11/2023</p>

  <p>
    Benvenuti su Yggdrasill Project. <br />
    La nostra politica sulla privacy spiega come raccogliamo, utilizziamo e
    proteggiamo le informazioni personali degli utenti del nostro sito web.
    <br />
    Abbiamo a cuore la vostra privacy e ci impegniamo a rispettare le vostre
    informazioni personali.
  </p>

  <p>Grazie per la fiducia che avete riposto in Yggdrasill Project.</p>
</div>
