<!-- <h2>Articoli:</h2> -->
<div *ngFor="let article of articleList">
  <hr />
  <app-article-preview
    [isTemporary]="false"
    [articleTitle]="article.articleTitle ?? 'N/A'"
    [publishDate]="article.publishDate ?? 'N/A'"
    [author]="article.author ?? 'N/A'"
    [genre]="article.genre ?? 'N/A'"
    [articleContent]="article.articleContent ?? 'N/A'"
  ></app-article-preview>
</div>

<div class="container">
  <div class="custom-card" *ngFor="let article of articleList">
    <div class="img-box">
      <img
        [src]="article.propicUrl"
        alt="Immagine dell'articolo"
        *ngIf="article.propicUrl"
      />
      <div class="custom-content">
        <h2>{{ article.articleTitle }}</h2>
        <!-- Utilizzo di [innerHTML] per visualizzare HTML -->
        <div
          class="truncate"
          [innerHTML]="sanitizeHtml(truncate(article.articleContent!, 20))"
        ></div>
        <a href="#">Read More</a>
      </div>
    </div>
  </div>
  <!--
<div *ngIf="articles.length > 0; else noArticles">
  <div *ngFor="let article of articles; let i = index" class="article-item">
    <app-article-preview
      [article]="article"
      [isEditorPreview]="false"
      (click)="setActiveArticle(article, i)"
    ></app-article-preview>
  </div>
</div>

<ng-template #noArticles>
  <p>No articles available.</p>
</ng-template>

-->

  <!-- TODO: togliere sto schfio -->
  <div>prova img:</div>
  <img [src]="imageUrl" alt="Immagine dell'articolo" *ngIf="imageUrl" />
</div>
