<!-- <h2>Articoli:</h2> -->
<div *ngFor="let article of articleList">
  <hr />
  <app-article-preview
    [isTemporary]="false"
    [articleTitle]="article.articleTitle ?? 'N/A'"
    [publishDate]="article.publishDate ?? 'N/A'"
    [author]="article.author ?? 'N/A'"
    [genre]="article.genre ?? 'N/A'"
    [articleContent]="article.articleContent ?? 'N/A'"
  ></app-article-preview>
</div>

<!-- article-list.component.html -->
<h2>Articoli:</h2>
<div class="container">
  <div class="custom-card" *ngFor="let article of articleList">
    <div class="img-box">
      <img [src]="article.propicUrl" alt="Immagine dell'articolo" />
    </div>
    <div class="custom-content">
      <h2>{{ article.articleTitle ?? "N/A" }}</h2>
      <h6>{{ article.author ?? "N/A" }} | {{ article.genre ?? "N/A" }}</h6>
      <div
        class="truncate"
        [innerHTML]="sanitizeHtml(article.articleContent!)"
      ></div>
      <div class="d-flex align-items-center justify-content-center">
        <!-- <a href="#">{{ "Leggi di più" }}</a> -->
        <!-- Aggiunto il link "Leggi di più" con il routerLink -->
        <!-- <a [routerLink]="['/articoli', article.articleTitle]">Leggi di più</a> -->
        <button
          class="nav-link d-flex align-items-center justify-content-center"
          *ngIf="article.articleTitle"
          (click)="navigateToArticle(article.articleTitle)"
        >
          Leggi di più
        </button>
      </div>
    </div>
  </div>
</div>

<!-- TODO: togliere sto schfio -->
<div>prova img:</div>
<img [src]="imageUrl" alt="Immagine dell'articolo" *ngIf="imageUrl" />
