/* updates.component.scss */

.updates-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    // background-color: #f5f5f5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .updates-header {
    text-align: center;
    margin-bottom: 20px;

  
    p {
      color: #495057;
    }
  }
  
  .update-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
  
    h3 {
      // margin-bottom: 10px;
    }
  
    p {
      color: #495057;
    }
  
    small {
      color: #6c757d;
      display: block;
      margin-top: 10px;
    }
  }
  