<div class="app">
  <div class="app-scroll">
    <!-- <app-header></app-header> -->

    <!-- <core-app-menu
      *ngIf="!authService.isLoggedOut"
      class="nav-menu"
    ></core-app-menu> -->
    <app-navbar class="nav-menu"></app-navbar>
    <main [ngClass]="[getMainBackgroundColorClass(), 'tms-desktop']">
      <div [ngClass]="[getRoutesBackgroundColorClass(), 'h-100']">
        <router-outlet class="mt-4"></router-outlet>
      </div>
    </main>
    <!-- <app-footer></app-footer> -->
  </div>
</div>

<!-- <wgt-spinner [showSpinner]="isLoading()" label="Loading"></wgt-spinner> -->
