main {
  margin-top: 56px;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;

  &-scroll {
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    width: 100%;

    .tms-desktop {
      flex-grow: 1;
      overflow-y: auto; /* Aggiunto per abilitare la scrollbar all'interno di main */
      padding-bottom: 16px; /* Aggiunto padding inferiore per evitare che la scrollbar copra il contenuto */
    }
  }

// TODO: cambiare logica day e night mode
&.day-mode {
  // Stili per il tema giorno
  background-color: #f5f5f5 !important;
  // color: #000000;
}

// &.night-mode {
//   // Stili per il tema notte
//   background-color: #202124 !important;
//   color: #f5f5f5;
//
// }

  .nav-menu,
  .nav-menu-mobile {
    width: 100%; /* Occupa tutta la larghezza disponibile */
    flex-shrink: 0; /* Non ridurre le dimensioni se lo spazio è limitato */
    z-index: 1; /* Imposta la z-index per sovrapporre sopra i contenuti */
  }

  .nav-menu {
    position: fixed; /* Rende la navbar fissa in alto */
  }

  .nav-menu-mobile {
    position: fixed; /* Rende la navbar mobile fissa in basso */
    bottom: 0;
  }
}