<!-- chi-siamo.component.html -->
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2 class="mb-4">Chi siamo</h2>
      <p>
        Benvenuti nella pagina "Chi siamo" del nostro sito. Qui potete trovare
        informazioni su di noi e sulla nostra missione.
      </p>
    </div>
    <!-- <div class="col-md-4">
      <div class="card">
        <div class="card-header">Ultime notizie</div>
        <div class="card-body">
          <ul>
            <li><a href="#">Nuovi progetti in arrivo</a></li>
            <li><a href="#">YAMA IL TESTO</a></li>
            <li><a href="#">ALTRO?</a></li>
          </ul>
        </div>
      </div>
    </div> -->
  </div>
</div>
