<div [style.color]="color">
  <p>Genere: {{ genre }}</p>
  <h2 class="text-center">{{ articleTitle }}</h2>
  <p class="text-center">
    Autore: {{ author }} - Pubblicato il: {{ publishDate }}
  </p>
  <div
    class="article-font d-flex justify-content-center align-items-center"
    [innerHTML]="sanitizedArticleContent"
  ></div>
</div>

<!--
  <div [style.color]="articleColorClass">
  <h2>{{ article?.articleTitle }}</h2>
  <p class="author">Autore: {{ article?.author }}</p>
  <p class="genre">Genere: {{ article?.genre }}</p>
  <p class="publish-date">Data di pubblicazione: {{ article?.publishDate }}</p>
  <div [innerHtml]="sanitizedArticleContent"></div>
</div>

-->
