.div-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1.25rem;
  }
  //icons: 50x50 px = 3.125rem
  .tiktok {
    width: 3.125rem;
    height: 3.125rem;
    background-size: cover;
    background-image: url('../../../../assets/images/tiktok-logo-azzurro.svg');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }

  .instagram {
 width: 3.125rem;
    height: 3.125rem;
    background-size: cover;
    background-image: url('../../../../assets/images/instagram-logo-azzurro.svg');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }


  .linkedin {
    width: 3.125rem;
    height: 3.125rem;
    background-size: cover;
    background-image: url('../../../../assets/images/linkedin-logo-azzurro.svg');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }

  .white-logo {
    width: 12.5rem;
    height: 12.5rem;
    background-size: cover;
    background-image: url('../../../../assets/images/yggdrasil-logo-bianco.png');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }
  