<div
  class="parent vh-100 d-flex justify-content-center align-items-center flex-column"
>
  <div class="white-logo"></div>
  <div
    class="social-container d-flex justify-content-center align-self-start align-items-center flex-column vw-100"
  >
    <div class="coming-soon fw-bold">{{ text | uppercase }}</div>
    <div class="updates coming-soon text-center">
      Seguici sui nostri social per vedere cosa stiamo facendo!
    </div>
    <div class="div-icons mt-2">
      <app-instagram-link [size]="2.75"></app-instagram-link>
      <app-linkedin-link [size]="2.75"></app-linkedin-link>
      <app-tiktok-link [size]="2.75"></app-tiktok-link>
      <app-youtube-link [size]="3.5"></app-youtube-link>
    </div>
  </div>
</div>
