<div class="parent vh-100">
  <div
    class="logo-container d-flex justify-content-center align-items-center vw-100"
  >
    <app-white-logo></app-white-logo>
  </div>
  <div
    class="clock-container d-flex justify-content-center align-items-center vw-100"
  >
    <app-glitch-clock></app-glitch-clock>
  </div>
  <div
    class="social-container d-flex justify-content-center align-self-start align-items-center flex-column vw-100"
  >
    <div class="coming-soon">{{ text | uppercase }}</div>
    <app-social-links class="mt-2"></app-social-links>
  </div>
</div>
