/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // background-color: #091833 !important;
    color: #0CB3C9 !important;
    font: Roboto;
}

.yggdrasil-color-1 {
    color: #EC17DB !important;
}

.yggdrasil-color-2 {
    color: #0CB3C9 !important;
}

.yggdrasil-color-3 {
    color: #A848D6 !important;
}

.yggdrasil-bg-color-1 {
    background-color: #091833 !important;
}

.yggdrasil-bg-color-2 {
    background-color: #143E7B  !important;
}
